.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #111111;
  width: 270px;
  z-index: 99;
  height: calc(100vh - 50px);
  margin-top: 50px;
}

.scrollView {
  overflow-y: auto;
  height: calc(100vh - 100px);
}
