.canvasOptionsContainer {
  /* padding: 15px; */
}

.canvasOptionContent {
  padding-top: 15px;
  padding-bottom: 15px;
}

.canvasOptionRow {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.canvasOptionsLabel {
  min-width: 50px;
  color: #eeeeee;
  font-size: 0.75rem;
}

.canvasOptionsInput {
  width: 100%;
}

.row {
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row > *:not(:last-child) {
  padding-right: 6px;
}

.row > *:not(:first-child) {
  padding-left: 6px;
}

.inputBox {
  width: 100%;
  background-color: #2b2b2b;
  border: 0px solid black;
  outline: none;
  color: white;
  padding: 6px 12px 6px 12px;
  padding-right: 32px;
  border-radius: 4px;
  font-size: 0.75rem;
  border: 1px solid transparent;
}

.inputBox:focus {
  outline: thin;
  outline-style: solid;
  outline: 1px solid rgb(3, 103, 170);
  border: 1px solid rgb(3, 103, 170);
  outline-offset: -2px;
}

.modifier {
  position: absolute;
  margin-left: -14px;
  margin-top: 8px;
  font-size: 9px;
  color: #999999;
}

.column1 {
  float: left;
  width: 40%;
}

.column {
  float: left;
  width: 50%;
}

.column3 {
  float: left;
  width: 60%;
}

.colorPickerInput {
  display: flex;
}

.colorPickerInput > input {
  text-indent: 0px;
  padding-right: 12px;
  border-radius: 0px 4px 4px 0px;
}

.colorButton {
  min-width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 4px 0px 0px 4px;
}

.selectBox ::-webkit-scrollbar {
  width: 4px;
}

.exportButton {
  background: #6ab04c;
  color: #fff;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
