.container {
  max-height: 49px;
  min-height: 49px;
  border-bottom: 1px solid var(--panel-border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.backButtonContainer {
  width: 49px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title {
  color: #fff;
  font-size: var(--text-sm);
  font-weight: 600;
  width: calc(100% - 98px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.filler {
  min-width: 49px;
  min-height: 49px;
}
