.container {
  width: calc(100% - 550px);
  min-height: 100vh;
  background-color: #121417;
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvasContainer {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoomControlContainer {
  height: 50px;
  position: absolute;
  width: calc(100% - 550px);
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.controlsContainer {
  display: flex;
  align-items: center;
  margin-right: 25px;
  z-index: 99;
}

.zoomLabel {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
  font-size: 9pt;
  margin-top: -5px;
}

.sliderContainer {
  width: 150px;
  margin-right: 12px;
}
