.container {
  max-width: 250px;
  min-width: 250px;
  min-height: calc(100vh - 50px);
  max-height: calc(100vh - 50px);
  background-color: #111111;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #252729;
}

.tempObjButtonGroupContainer {
  border-bottom: 1px solid #252729;
}

.chooseFromTemplatesButton {
  background-color: #0099ff;
  color: #ffffff;
  margin: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  border: 0px solid #0099ff;
}

.chooseFromTemplatesButton:hover {
  background-color: #0088ff;
}

.toolsContainer {
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #252729;
  width: 100%;
}

.layersContainer {
  min-height: calc(100vh - 370px);
  max-height: calc(100vh - 370px);
  overflow-y: auto;
}
