.container {
  max-width: 250px;
  min-width: 250px;
  min-height: 100vh;
  background-color: #010101;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #252729;
}

.logo {
  height: 25px;
  width: auto;
}

.proBadge {
  color: #010101;
  background-color: #ffd700;
  font-size: 0.6rem;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
  float: right;
}

.brandContainer {
  border-bottom: 1px solid #252729;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.tempObjButtonGroupContainer {
  border-bottom: 1px solid #252729;
}

.chooseFromTemplatesButton {
  background-color: #116df7;
  color: #ffffff;
  margin: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  border: 0px solid #116df7;
}

.chooseFromTemplatesButton:hover {
  background-color: #1469e9;
}

.backButtonContainer {
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 0px solid #fff;
  outline: none;
}

.templatesContainerHeader {
  padding: 12px;
}

.toolsContainer {
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #252729;
  width: 100%;
}

.layersContainer {
  min-height: calc(100vh - 400px);
  max-height: calc(100vh - 400px);
  overflow-y: auto;
}
