.container {
  max-width: 300px;
  min-width: 300px;
  min-height: 100vh;
  background-color: blueviolet;
  background-color: #212529;
}

.canvasOptionsContainer {
  padding: 15px;
}

.canvasOptionContent {
  padding-top: 15px;
  padding-bottom: 15px;
}

.canvasOptionRow {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.canvasOptionsLabel {
  min-width: 85px;
  color: #adb5bd;
}

.canvasOptionsInput {
  width: 100%;
  display: flex;
  align-items: center;
}

.inputIdentifier {
  height: 24px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8pt;
  color: rgba(255, 255, 255, 0.3);
}
