.container {
  max-width: 270px;
  min-width: 270px;
  min-height: calc(100vh - var(--topbar-height));
  max-height: calc(100vh - var(--topbar-height));
  background-color: blueviolet;
  background-color: #111111;
  border-left: 1px solid #252729;
  overflow-y: auto;
}

.container > * {
  padding-left: 12px;
  padding-right: 12px;
}
