.deviceCard {
  display: flex;
  align-items: center;
  padding: var(--space-2);
  border-radius: var(--radius-2);
  cursor: pointer;
}

.deviceCard:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.deviceThumbnail {
  min-width: 60px;
  max-width: 60px;
  min-height: 45px;
  max-height: 45px;
  background-color: aliceblue;
  margin-right: var(--space-3);
  border-radius: var(--radius-1);
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.title {
  color: #dddddd;
  font-weight: bold;
  font-size: var(--text-xs);
  font-weight: bold;
  margin-bottom: var(--space-0);
}

.subtitle {
  color: #636e72;
  font-weight: 500;
  font-size: var(--text-xs);
}
