.deviceCard {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.deviceCard:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.deviceThumbnail {
  min-width: 80px;
  max-width: 80px;
  min-height: 60px;
  max-height: 60px;
  background-color: aliceblue;
  margin-right: 10px;
  border-radius: 3px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.deviceTitle {
  color: #dddddd;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 2px;
}

.deviceScreenDimension {
  color: #636e72;
  font-weight: 500;
  font-size: 0.8rem;
}
