.imageUploaderContainer {
  min-height: 140px;
  width: 100%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  background: rgb(255, 255, 255, 0.08);
  outline: none;
}

.imageUploaderContainer:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.backgroudHoverText {
  opacity: 0;
  width: 100%;
  min-height: inherit;
  color: #ffffff;
  font-size: 0.75rem;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  text-align: center;
  border-radius: 6px;
}

.imageUploaderContainer:hover .backgroudHoverText {
  opacity: 1;
}

.emptyStateTitle {
  color: #e4e4e4;
  font-size: 0.7rem;
  margin: 0px;
  border-radius: 3px;
  margin-bottom: 3px;
}

.emptyStateSubtitle {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.65rem;
  margin-bottom: 16px;
}

.browseButton {
  border: none;
  background: #116df7;
  color: #ffffff;
  padding: 4px 12px 3px 12px;
  border-radius: 3px;
  font-size: 0.7rem;
  outline: none;
  cursor: pointer;
}

.backgroundContainer {
  min-height: 150px;
  width: 100%;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
