.imageUploaderContainer {
  min-height: 140px;
  width: 100%;
  border-radius: var(--radius-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  background: rgb(255, 255, 255, 0.08);
  outline: none;
}

.imageUploaderContainer:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.backgroudHoverText {
  opacity: 0;
  width: 100%;
  min-height: inherit;
  color: #ffffff;
  font-size: var(--text-xs);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  text-align: center;
  border-radius: var(--radius-3);
}

.imageUploaderContainer:hover .backgroudHoverText {
  opacity: 1;
}

.emptyStateTitle {
  color: #e4e4e4;
  font-size: var(--text-xxs);
  margin: 0px;
  margin-bottom: var(--space-1);
}

.emptyStateSubtitle {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.65rem;
  margin-bottom: var(--space-4);
}

.browseButton {
  border: none;
  background: var(--primary);
  color: #ffffff;
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
  padding-left: var(--space-3);
  padding-right: var(--space-3);
  border-radius: var(--radius-2);
  font-size: var(--text-xxs);
  outline: none;
  cursor: pointer;
}
.browseButton:hover {
  background: var(--primary-dark);
}

.backgroundContainer {
  min-height: 150px;
  width: 100%;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
