.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  margin-left: var(--space-3);
  margin-right: var(--space-3);
  cursor: pointer;
}

.container:hover {
  filter: brightness(2);
}

.title {
  color: #999999;
  font-size: var(--text-xs);
}
