* {
  box-sizing: inherit;
  -webkit-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}

::-webkit-scrollbar-corner {
  background: #1d1d1d;
}

.MuiSlider-root {
  color: #fff !important;
}

.bp3-dark .bp3-input {
  background-color: rgb(14, 22, 26);
}
