@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

* {
  box-sizing: inherit;
  -webkit-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #343a40;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #868e96;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5c7080;
}

::-webkit-scrollbar-corner {
  background: #343a40;
}

.MuiSlider-root {
  color: #fff !important;
}

.bp3-dark .bp3-input {
  background-color: rgb(14, 22, 26);
}
